* {
    margin: 0;
    padding: 0;
}
.option-zone {
    width: 1200px;
    margin: 50px auto;
    display: flex;
}
.option-zone * {
    height: 30px;
    width: 200px;
    outline: none;
    box-sizing: border-box;
}
.option-zone form {
    display: none;
    width: auto;
}
.option-zone input {
    margin: 0 5px 0 50px;
}
.option-zone button {
    width: 50px;
    height: 31px;
}
.option-zone form.block {
    display: block;
}


.container {
    width: 1200px;
    margin: 0 auto;
}
.col-sm-4 {
    display: inline-block;
    margin-right: 5%;
    text-align: center;
    width: 30%;
}
.col-sm-4 img{
    width: 100%;
}
.col-sm-4:nth-child(3n) {
    margin-right: 0px;
}
.container button {
    background-color: red;
    padding: 10px 20px;
    border-style: none;
    font-weight: bold;
    color: white;
}
.btn-center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
