* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.col-sm-4 {
    display: inline-block;
    margin-right: 5%;
    text-align: center;
    width: 30%;
}
.col-sm-4 img{
    width: 100%;
}
.col-sm-4:nth-child(3n) {
    margin-right: 0px;
}
.container button {
    background-color: red;
    padding: 10px 20px;
    border-style: none;
    font-weight: bold;
    color: white;
}
.btn-center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}