*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body {
    transition: background 0.5s ease;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.5);
}
nav {
    position: fixed;
    top: 0;
    z-index: 5;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.3);
}
nav .wrap {
    display: flex;
    justify-content: space-between;
}
.scroll-guide {
    position: fixed;
    top: 50px;
    height: 3px;
    max-width: 1200px;
    z-index: 10;
    background-color: black;
    transition: 0.5s ease-out;
    display: block;

}
.black-bg {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.black-bg .white-bg {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    position:absolute;
    top: 20%;
    left: 40%;
}
.black-bg .white-bg h4 {
    margin-bottom: 10px;
    text-align: center;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.btn {
    display: inline;
    background-color: red;
    padding: 5px 10px;
    border-style: none;
    border-radius: 10%;
    margin-top: 10px;
    color: white;
    margin-left: 5px;
}
.btn-primary {
    background-color: blue;
    margin-left: 0px;
}
#submitData {
    font-size: 10px;
    color: red;
}
.black-bg input {
    width: 95%;
    margin-bottom: 5px;
    padding: 5px 0 5px 5%;
}
#banner {
    background-color: lightgrey;
}
.main-bg {
    padding: 100px 20px;
    background-color: lightgrey;
}
/*  --------------------------------slide-banner--------------------------------*/
#slide-banner {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}
#slide-banner .slides {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#slide-banner .slides li{
    list-style: none;
    width: 1200px;
    height: 600px;
    float:left;
}
#slide-banner .slides img{
    display: block;
}

.control {
    font-size: 50px;
}
.control span:first-child {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 10;
}
.control span:not(:first-child) {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 10;
}



.show-modal {
    opacity: 1;
    visibility: visible;
}

.dark-mode {
    background-color: #333;
    color: white;
}
.animated {
    transition:  0.5s ease-out;
}